* {
  margin: 0;
  padding: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

header+.slider {
  margin-top: 212px;
  /*header height 172px*/
}

header {
  font-family: "Motiva Sans", Sans-serif, -apple-system, system, sans-serif;
  color: white;
  background-color: rgb(36, 36, 36);
  text-align: center;
  border-bottom: solid rgb(247, 166, 16) 5px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
  max-height: 169px;
  z-index: 2;
}

header h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: -20px;
}

header img :nth-child(1),
header image:nth-child(4) {
  width: 120px;
}

.spResponsive {
  display: flex;
  justify-content: center;
}

.spResponsive img {
  margin: 15px 8px;
  margin-bottom: -15px;
}

.titulo {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

/*
*
* Slider
*
*/
.slider {
  cursor: pointer;
  border: solid rgb(247, 166, 16) 4px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
  background-color: whitesmoke;
  font-family: FjallaOne;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 27vw;
  width: 60%;
  max-height: 400px;
  max-width: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
  background-position: center center;
}

.slider a {
  font-size: 2.5vw;
  padding: 0 0 0 5px;
  color: unset;
  height: 30%;
  border-radius: 0 0 11px 11px;
  background-color: #eeff00;
  transition: 0.4s;
}

@media screen and (min-width: 1900px) {
  .slider a {
    font-size: 50px;

  }
}

.content {
  width: 100%;
  transition: 0.4s;

}


.flechas {
  display: flex;
  justify-content: space-between;
}

.flechas img {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
  margin: 0 2px;
  background-color: rgba(141, 141, 141, 0.836);
}

.flechas img:hover {
  transform: scale(1.3);
  background-color: rgba(141, 141, 141);
  transform-origin: center;
}

.imagenTitulo {
  height: 8vw;
  min-height: 100px;
  max-height: 120px;
  margin-top: 20px;
}

.imagenTitulo2 {
  height: 8vw;
  min-height: 100px;
  max-height: 120px;
  margin-top: 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

footer {
  font-family: "Motiva Sans", Sans-serif, -apple-system, system, sans-serif;
  color: white;
  background-color: rgb(36, 36, 36);
  margin-top: 15px;
  border-top: solid rgb(247, 166, 16) 3px;
  padding: 30px 90px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

footer h2 {
  text-decoration: underline;
}

footer ul {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer li {
  margin: 10px;
}

footer img {
  height: 60px;
}

body {
  font-family: Archivo;
  background: linear-gradient(0deg, rgb(109, 0, 103) 10%, rgba(199, 0, 199, 1) 100%);
}

.tdiv1,
.tdiv2 {
  display: none;
}

.logo {
  display: inline;
}

nav {
  width: fit-content;
  margin-top: 4vh;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid rgb(255, 145, 0) 3px;
  border-radius: 5px;
  background-color: rgb(255, 189, 65);
  box-shadow: 0px 0px 20px red;
  text-shadow: 0 0 3px black;

}

nav ul {
  list-style-type: none;
  display: flex;

}

nav li {
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  margin: auto;
  margin-top: 0%;
  transition: 0.3s;
  cursor: pointer;
}

nav li:hover {
  border-radius: 5px;
  color: red;
  text-shadow: 0 0 5px red;
  background-color: #ddd;
}



/*
*
PRINCIPAL
*
*/
.principal {
  border: solid orange 3px;
  background-color: whitesmoke;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 15px;
}

.principal a {
  width: fit-content;
  height: 40px;
  align-self: end;
}

.principal div {
  justify-content: space-around;
  display: flex;
}

.principal section {
  height: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 80%;
  max-height: 450px;
  text-align: justify;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.principal section h2 {
  font-family: SecularOne;
  text-align: center;
}

.principal img {
  height: max-content;
  margin: 15px auto;
  width: 80%;
  border: solid rgb(255, 189, 65) 5px;
  border-radius: 5px;

}

.verMas {
  background: linear-gradient(0deg, rgba(255, 23, 203, 1) 20%, rgb(255, 106, 223) 76%);
  padding: 8px;
  text-align: center;
  font-size: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  transition: 0.15s;
  border: solid black 2px;
  font-weight: bolder;
  cursor: pointer;
}

.verMas:hover {
  font-size: 16px;
  font-weight: bolder;
  background: rgb(255, 0, 0);
  background: linear-gradient(0deg, rgb(48, 141, 12) 15%, #50e216 81%);
  transition: 0.15s ease-out;
  transform: (1.1);
  transform-origin: bottom;
  z-index: 1;

}

/*
*
*
*
*
*
*/
@media screen and (min-width: 2000px) {
  .principal {
    height: 1300px;

  }

  .principal section {
    max-height: 1000px;
  }
  nav{
    position: relative;
    top: -10px;
  }
}

@media screen and (max-width: 600px) {

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
    background-color: rgb(161, 161, 161);
  }

  header+.slider {
    margin-top: 175px;
  }

  .slider {

    width: 87%;
    height: 39vw;

  }

  .principal {
    border-top: solid orange 3px;
    border-right: none;
    border-left: none;
    border-bottom: orange;
    width: 100%;
    border-radius: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .principal section {
    width: 80%;
  }

  .content {
    font-size: 4.5vw;
  }

  .tituloDiv img {
    width: 55px;
    margin: 0 10px;
    display: inline;
  }

  .spResponsive img {
    height: 30px;
    width: 30px;
  }

  .spResponsive img:first-child {
    margin-right: 5px;
  }

  .spResponsive img:last-child {
    margin-left: 5px;
  }

  .tituloDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagenTitulo,
  .imagenTitulo2 {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    margin: 7px auto;
  }

  nav li {
    padding: 3vw;
  }

  .verMas {
    transition: 0s;
    font-size: 3vw;
    height: 40px;
    display: flex;
    justify-content: center;
  }

  .verMas:hover {
    transition: 0s;
    font-size: 3vw;

    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .principal {
    display: flex;
    flex-wrap: wrap;
  }

  .principal section {
    width: 80%;
    border-bottom: solid gray 2px;
  }

  .principal section:last-child {
    border-bottom: none;
  }

  footer {
    margin-top: 0;
  }

  .slider {
    height: 200px;
  }

  .verMas {
    font-size: 16px;
  }

  .verMas:hover {
    font-size: 16px;
  }

  .flechas img {
    height: 35px;
    width: 35px;
    position: relative;
    bottom: 10px;
  }
}

@font-face {
  font-family: SecularOne;
  src: url(../fuentes/SecularOne-Regular.ttf);
}

@font-face {
  font-family: FjallaOne;
  src: url(../fuentes/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(../fuentes/Archivo-VariableFont_wdth\,wght.ttf);
}