header{
    font-family: "Motiva Sans", Sans-serif, -apple-system, system, sans-serif;
    color: white;
    background-color: rgb(28, 28, 28);
    padding: 1px;
    overflow: auto;
    display: block;
    text-align:center;
}
#imagenTitulo{
 float:left;
margin-left: 40;
    margin-right: -190px;
}
body{
   margin: 0;
}


  